In [5]:
import pandas as pd
import numpy as np

In [3]:
a = ['123','13']
print(a)

['123', '13']

In [6]:
s = pd.Series([1,3,5,np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
dates = pd.date_range('20130101',periods=6)
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.322527 -0.356865  0.077292  0.573976
2013-01-02  0.579420 -0.692963  0.213533 -1.063321
2013-01-03  0.513025 -0.224954  0.096251  1.320180
2013-01-04  1.268429  0.099017  1.963978 -0.250238
2013-01-05  0.543832  0.637884 -0.473648 -1.435384
2013-01-06  0.023070 -0.673789  0.379433 -0.289404

In [9]:
df['A'].dtypes

dtype('float64')

In [12]:
df.head(3)

                   A         B         C         D
2013-01-01  0.492550 -1.065911  0.096302  0.579912
2013-01-02 -0.384204 -0.670962  0.183269 -0.732096
2013-01-03  0.096629  0.443976  0.113967  1.290795

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.to_numpy()

array([[ 0.49255011, -1.06591067,  0.09630216,  0.57991217],
       [-0.38420424, -0.67096151,  0.18326901, -0.73209624],
       [ 0.09662926,  0.44397638,  0.11396736,  1.29079512],
       [-0.00527983,  0.35919083, -0.96649881, -1.03696131],
       [ 0.15903965,  0.20412024,  0.24354049, -0.19493006],
       [-0.06323959, -1.79924911,  0.25014424, -0.63391729]])

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.049249 -0.421472 -0.013213 -0.121200
std    0.287862  0.908363  0.471340  0.890552
min   -0.384204 -1.799249 -0.966499 -1.036961
25%   -0.048750 -0.967173  0.100718 -0.707552
50%    0.045675 -0.233421  0.148618 -0.414424
75%    0.143437  0.320423  0.228473  0.386202
max    0.492550  0.443976  0.250144  1.290795

In [16]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.492550   -0.384204    0.096629   -0.005280     0.15904   -0.063240
B   -1.065911   -0.670962    0.443976    0.359191     0.20412   -1.799249
C    0.096302    0.183269    0.113967   -0.966499     0.24354    0.250144
D    0.579912   -0.732096    1.290795   -1.036961    -0.19493   -0.633917

In [18]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.492550 -1.065911
2013-01-02 -0.384204 -0.670962
2013-01-03  0.096629  0.443976
2013-01-04 -0.005280  0.359191
2013-01-05  0.159040  0.204120
2013-01-06 -0.063240 -1.799249

In [20]:
df[df['A'] > 0]

                   A         B         C         D
2013-01-01  0.492550 -1.065911  0.096302  0.579912
2013-01-03  0.096629  0.443976  0.113967  1.290795
2013-01-05  0.159040  0.204120  0.243540 -0.194930

In [29]:
df.loc[:,df.columns.isin(['A','B'])]

                   A         B
2013-01-01  0.492550 -1.065911
2013-01-02 -0.384204 -0.670962
2013-01-03  0.096629  0.443976
2013-01-04 -0.005280  0.359191
2013-01-05  0.159040  0.204120
2013-01-06 -0.063240 -1.799249

In [30]:
df.duplicated('A')

2013-01-01    False
2013-01-02    False
2013-01-03    False
2013-01-04    False
2013-01-05    False
2013-01-06    False
Freq: D, dtype: bool

In [31]:
tem = {"class":[1,2,1,3,1,2]}

In [34]:
df['class']=tem['class']

In [35]:
df

                   A         B         C         D  class
2013-01-01  0.492550 -1.065911  0.096302  0.579912      1
2013-01-02 -0.384204 -0.670962  0.183269 -0.732096      2
2013-01-03  0.096629  0.443976  0.113967  1.290795      1
2013-01-04 -0.005280  0.359191 -0.966499 -1.036961      3
2013-01-05  0.159040  0.204120  0.243540 -0.194930      1
2013-01-06 -0.063240 -1.799249  0.250144 -0.633917      2

In [47]:
tem = df.groupby('class')['A'].sum().rename('ob').reset_index()
df1 = df.merge(tem, how='left')
df1.index = df.index
print(df1)
print(tem)

A         B         C         D  class        ob
2013-01-01  0.492550 -1.065911  0.096302  0.579912      1  0.748219
2013-01-02 -0.384204 -0.670962  0.183269 -0.732096      2 -0.447444
2013-01-03  0.096629  0.443976  0.113967  1.290795      1  0.748219
2013-01-04 -0.005280  0.359191 -0.966499 -1.036961      3 -0.005280
2013-01-05  0.159040  0.204120  0.243540 -0.194930      1  0.748219
2013-01-06 -0.063240 -1.799249  0.250144 -0.633917      2 -0.447444
   class        ob
0      1  0.748219
1      2 -0.447444
2      3 -0.005280

In [50]:
df.groupby('class')['A'].sum().rename('ob')

class
1    0.748219
2   -0.447444
3   -0.005280
Name: ob, dtype: float64

In [53]:
type(df.groupby('class').sum())

pandas.core.frame.DataFrame

In [57]:
df.transform({'A': np.abs, 'B': lambda x: x + 1})

                   A         B
2013-01-01  0.492550 -0.065911
2013-01-02  0.384204  0.329038
2013-01-03  0.096629  1.443976
2013-01-04  0.005280  1.359191
2013-01-05  0.159040  1.204120
2013-01-06  0.063240 -0.799249

In [2]:
import numpy as np
print(np.pi)

3.141592653589793